<section class="about-me-section">

<img [ngSrc]=imgPath alt="profile img" width="300" height="300">

  <h3>¡Hola! Gracias por visitar mi portafolio.</h3>
  <p>
    Soy Javier Schettini, Desarrollador Full Stack con una fuerte inclinación hacia el Backend.
    Mi motor diario es la resolución de problemas complejos y el aprendizaje continuo de nuevas tecnologías.
    Mi curiosidad por la informática nació frente a la mítica 286 de mi padre y se consolidó creando mis primeras
    páginas web a finales de los '90.
  </p>
  <p>
    Aunque mi camino profesional ha tenido diversas etapas, esa chispa tecnológica siempre fue mi brújula.
  </p>
  <p>
    Desde 2021, decidí volcar toda esa experiencia y madurez en mi verdadero propósito: desarrollar sistemas
    que resuelvan problemas reales.
    Me apasiona crear herramientas que reduzcan tiempos de ejecución, automaticen procesos repetitivos y
    den visibilidad estratégica a los negocios a través del código.
  </p>
  <p>
    Hoy, combino esa fascinación técnica que tengo desde niño con una formación constante en Java y Spring Boot,
    enfocado en entregar software robusto, mantenible y, sobre todo, útil.
  </p>
</section>
