.about-me-section{
  margin-top: 50px;
  height: 100dvh;
  width: 80vw;
}

img {
  float: left;
  margin: 10px;
  shape-outside: circle();
}

h3{
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  color: var(--secondary-color);
}

p{
  text-align: justify;
  font-family: "JetBrains Mono", monospace;
  color: var(--primary-color);
}

p:nth-child(even){
  color: var(--tertiary-color);
}

