<article class="education-card">
  <h3>{{ currentTranslations().education.bootcamps.role }}</h3>
  
  <div class="education-details">
    <div class="course-item">
      <h4>{{ currentTranslations().education.bootcamps.career }}</h4>
      <span class="institution">{{ currentTranslations().education.bootcamps.institution }}</span>
      <span class="date">{{ currentTranslations().education.bootcamps.date }}</span>
      <p>{{ currentTranslations().education.bootcamps.description }}</p>
    </div>
  </div>
</article>
