<article class="education-card">
  <h3>Bootcamps & Especializaciones</h3>
  
  <div class="education-details">
    <div class="course-item">
      <h4>Oracle Next Education (ONE) - Frontend & Backend</h4>
      <span class="institution">Oracle & Alura Latam</span>
      <span class="date">2023 - 2024</span>
      <p>
        Especialización intensiva enfocada en el desarrollo backend con Java y Spring Boot, y bases sólidas de frontend en desarrollo web (HTML, CSS, JS). Experiencia práctica aplicando metodologías ágiles y control de versiones con Git.
      </p>
    </div>
  </div>
</article>
