<article class="brotes">
  <h3>{{ currentTranslations().projects.brotes.title }}</h3>
  <div class="projectsBody">
    <img class="frontImg" [ngSrc]="imgPath" alt="imagen de una pantalla de login" height="250" width="250">
    <p>
      <span [innerHTML]="currentTranslations().projects.brotes.bullet1"></span>
      <span [innerHTML]="currentTranslations().projects.brotes.bullet2"></span>
      <span [innerHTML]="currentTranslations().projects.brotes.bullet3"></span>
      <span [innerHTML]="currentTranslations().projects.brotes.bullet4"></span>
    </p>
  </div>
  <div class="projectLinks">
    <span><a [href]="repoBackPath" target="_blank" rel="noopener noreferrer"> {{ currentTranslations().projects.brotes.backRepo }} </a></span>
    <span><a [href]="repoFrontPath" target="_blank" rel="noopener noreferrer"> {{ currentTranslations().projects.brotes.frontRepo }} </a></span>
  </div>
</article>
