<article class="brotes">
  <h3>Brotes</h3>
  <div class="projectsBody">
  <img class="frontImg" [ngSrc]=imgPath alt="imagen de una pantalla de login" height="250" width="250">
    <p>
      <span>Diseño de API RESTful escalable:</span>
      Implementación de arquitectura en capas (Controller-Service-Repository) utilizando Java 17 y Spring Boot.
      <span>Garantía de Calidad (QA):</span> Desarrollo de una suite de pruebas unitarias e integración con JUnit y Mockito, asegurando la estabilidad de los flujos de pedidos y gestión de clientes.
      <span> Optimización de Base de Datos: </span> Modelado y normalización de esquemas en MySQL, eliminando redundancias y mejorando la integridad referencial del sistema.
      <span> Eficiencia Operativa:</span> Automatización del flujo de remitos, logrando una reducción del 30% en el tiempo de procesamiento manual.
  </p>

  </div>
  <div class="projectLinks">
    <span><a [href]=repoBackPath target="_blank" rel="noopener noreferrer"> -> Repo Backend <- </a></span>
    <span><a [href]=repoFrontPath target="_blank" rel="noopener noreferrer"> -> Repo Frontend <- </a></span>
  </div>

</article>
