:host {
  display: block;
  width: 100%;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

::ng-deep svg {
  width: 100% !important;
  max-width: 950px !important;
  height: auto !important;
}
