<article class="emailsender">
  <h3>{{ projectName }} </h3>
  <div class="projectsBody">
    <p>
      <span>Desarrollo de Microservicio Independiente: </span>
      Creación de un servicio desacoplado para el envío de correos mediante formularios web.
      <span>Key Tech:</span> Spring Boot, JavaMailSender.
      <span>Seguridad y Mantenibilidad:</span> Implementación de validaciones robustas y gestión de configuración mediante variables de entorno para entornos productivos.
    </p>

  </div>
  <div class="projectLinks">
    <span><a [href]=repoBackPath target="_blank" rel="noopener noreferrer"> -> Repositorio <- </a></span>
  </div>

</article>
