.emailsender{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--tertiary-color);
  border-radius: 25px;
  padding: 20px;
}

h3{
  font-size:2em;
  color: var(--primary-color)
}
p{
  color: var(--secondary-color);

}

p span {
  color: var(--tertiary-color);
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.projectsBody{
  display: flex;
  flex-direction: row;
}

.projectLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.projectLinks span{
  color: var(--primary-color);
}

.projectLinks a{
  text-decoration: none;
  color: var(--primary-color);

}

.projectLinks a:hover{
  border-bottom: 2px solid var(--primary-color);

}
