<article class="emailsender">
  <h3>{{ currentTranslations().projects.emailsender.title }}</h3>
  <div class="projectsBody">
    <p>
      <span [innerHTML]="currentTranslations().projects.emailsender.bullet1"></span>
      <span [innerHTML]="currentTranslations().projects.emailsender.bullet2"></span>
      <span [innerHTML]="currentTranslations().projects.emailsender.bullet3"></span>
    </p>
  </div>
  <div class="projectLinks">
    <span><a [href]="repoBackPath" target="_blank" rel="noopener noreferrer"> {{ currentTranslations().projects.emailsender.repoLink }} </a></span>
  </div>
</article>
