<article class="education-card">
  <h3>{{ currentTranslations().education.tecnicatura.role }}</h3>
  
  <div class="education-details">
    <div class="course-item">
      <h4>{{ currentTranslations().education.tecnicatura.career }}</h4>
      <span class="institution">{{ currentTranslations().education.tecnicatura.institution }}</span>
      <span class="date">{{ currentTranslations().education.tecnicatura.date }}</span>
      <p>{{ currentTranslations().education.tecnicatura.description }}</p>
    </div>
  </div>
</article>
