<section class="education-section">
  <h2>{{ currentTranslations().education.title }}</h2>

  <div class="education-container">
    @switch (typeKey()) {
      @case ('bootcamps') {
        <app-bootcamps />
      }
      @case ('tecnicatura') {
        <app-tecnicatura />
      }
      @default {
        <p>{{ currentTranslations().education.notFound }}</p>
      }
    }
  </div>

  <p class="back-link">
    <a routerLink="/home">{{ currentTranslations().education.backLink }}</a>
  </p>
</section>
