/* You can add global styles to this file, and also import other style files */
:root{
  --background-color: #170b19;
  --primary-color: #fa448c;
  --secondary-color: #fec859;
  --tertiary-color: #43b5a0;
  --acent-color: #491d88;
  --font: "JetBrains Mono";
}


html {
  background-color: var(--background-color);
}

body {
  font-family: var(--font), monospace;
  /*width: 100vw;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}
